// Variables
$color-1: #873B89;
$color-2: #DB9CB4;
$color-3: #827E8C;
$color-4: #1CAF7E;
$color-5: #6E55E5;
$color-6: #FFFFFF;
$color-7: #E8DCEA;
$gradient: linear-gradient(to right, #174C3F, #299983);
$gradient1: unquote('linear-gradient(to right, #08211A, #187A67)');
$gradient2: radial-gradient(circle, #4A3F93, #603C87);
$gradient3: conic-gradient(from 50deg, #ff7e5f, #feb47b, #299983);
$gradient4: linear-gradient(90deg, rgba(255, 126, 95, 0.8), rgba(254, 180, 123, 0.8));